/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}
/* END COMMON */

/* MAIN */

/* header */

.head-title{
    background-color: white;
    display: block;
    padding: 10px;
    margin-bottom: 30px;
}

.head-title img{
    width: 50px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

/* end header */

/* main */

.container-a{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 70%;
    height: 90px;
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;
    
}

.container-b{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 2px;
    padding: 30px;
    
}

.botton-a{
    font-size: 20px;
    display: inline-block;
    background-color: #47adf1;
    color: white;
    padding: 10px;
    border: 2px solid  #47adf1;
    border-radius: 5px;


}

.botton-b{
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    background-color: white;
    color: #d1d6da;
    opacity: 0.4;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}


/* ul style */

.list{
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.6);
}

#li-a{
    margin-bottom: 30px;
}

#li-b{
    margin-bottom: 30px;
}

#li-c{
    margin-bottom: 30px;
}

.ul-menu{
    
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
}

.under-ul{
    list-style-type:none;
    font-size: large;
    font-weight: bold;
    line-height: 40px;
}

.flag{
    display: inline-block;
    width: 20px;
    height: 20px;
    color:#86cfbe;
    border: 1px solid #86cfbe;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}

.cross{
    display: inline-block;
    width: 20px;
    height: 20px;
    color:#ee8984;
    border: 1px solid #ee8984;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}
/* end ul style */

/*  buttons */
.blu{
    font-size: 10px;
    background-color:#47adf1;
    color: white;
    padding: 5px 10px;
    border: 1px solid #47adf1;
    border-radius: 10px;
}

.violet{
    font-size: 10px;
    background-color: #9c72e4;
    color: white;
    padding: 5px 10px;
    border: 1px solid #9c72e4;
    border-radius:  10px;
}

.green{
    font-size: 10px;
    background-color: #64c0a9;
    color: white;
    padding: 5px 10px;
    border: 1px solid #64c0a9;
    border-radius: 10px;
}

.orange{
    font-size: 10px;
    background-color: #f29e33;
    color: white;
    padding: 5px 10px;
    border: 1px solid #f29e33;
    border-radius: 10px;
}

.pink{
    font-size: 10px;
    background-color: #d863a1;
    color: white;
    padding: 5px 10px;
    border: 1px solid #f29e33;
    border-radius: 10px;
}

.dark-green{
    font-size: 10px;
    background-color: #b0c926;
    color: white;
    padding: 5px 10px;
    border: 1px solid #b0c926;
    border-radius: 10px;
}
/* end buttons */





/* end main */

/* END MAIN */

